/OpenWRT/feeds/
/OpenWRT/package/feeds/
/OpenWRT/build_dir/
/OpenWRT/tmp/
/OpenWRT/staging_dir/
/OpenWRT/bin/
/OpenWRT/scripts/config/
/OpenWRT/packages/base/
/OpenWRT/packages/Packages*
/OpenWRT/target/linux/realtek/image/rtk-imagefile/
/OpenWRT/.config
/OpenWRT/.config.*
/OpenWRT/feeds.conf
/OpenWRT/package/.feeds*
/OpenWRT/local/luci/modules/luci-base/src/
/OpenWRT/logs/
/Toolchain/Toolchain
/Bootcode/U-Boot64*/u-boot*
/Bootcode/U-Boot64*/.*
/Bootcode/U-Boot64*/DVRBOOT_OUT/
/Bootcode/U-Boot64*/arch/arm/
/Bootcode/U-Boot64*/include/
/Bootcode/U-Boot64*/lib/
/Bootcode/U-Boot64*/examples/flash_writer*/dvrboot.exe*
/Bootcode/U-Boot64*/examples/flash_writer*/temp_target_array.h
/Bootcode/U-Boot64*/examples/flash_writer*/tools/
/Bootcode/U-Boot64*/examples/flash_writer*/Bind/
/Bootcode/U-Boot64*/tools/
/Bootcode/U-Boot64*/scripts/
/Bootcode/U-Boot64*/examples/standalone/
*.o
*.su
*.cmd
*.bin
*.hex
*.map
*.ipk
*.tar
key-build*
fwmd5
