/OpenWRT-LEDE/feeds/
/OpenWRT-LEDE/package/feeds/
/OpenWRT-LEDE/build_dir/
/OpenWRT-LEDE/tmp/
/OpenWRT-LEDE/staging_dir/
/OpenWRT-LEDE/bin/
/OpenWRT-LEDE/scripts/config/
/OpenWRT-LEDE/packages/base/
/OpenWRT-LEDE/packages/Packages*
/OpenWRT-LEDE/target/linux/realtek/image/rtk-imagefile/
/OpenWRT-LEDE/.config
/OpenWRT-LEDE/.config.*
/OpenWRT-LEDE/feeds.conf
/OpenWRT-LEDE/package/.feeds*
/OpenWRT-LEDE/local/luci/modules/luci-base/src/
/OpenWRT-LEDE/local/packages/multimedia/ffmpeg/patches/
/OpenWRT-LEDE/local/packages/libs/tinycompress/patches/
/OpenWRT-LEDE/package/libs/libSDL2/patches/
/OpenWRT-LEDE/logs/
/Toolchain/Toolchain
/Bootcode/U-Boot64*/u-boot*
/Bootcode/U-Boot64*/.*
/Bootcode/U-Boot64*/DVRBOOT_OUT/
/Bootcode/U-Boot64*/arch/arm/
/Bootcode/U-Boot64*/include/
/Bootcode/U-Boot64*/lib/
/Bootcode/U-Boot64*/examples/flash_writer*/dvrboot.exe*
/Bootcode/U-Boot64*/examples/flash_writer*/temp_target_array.h
/Bootcode/U-Boot64*/examples/flash_writer*/tools/
/Bootcode/U-Boot64*/examples/flash_writer*/Bind/
/Bootcode/U-Boot64*/examples/flash_writer*/image/realtek*
/Bootcode/U-Boot64*/examples/standalone/
/Bootcode/U-Boot64*/examples/flash_writer/include/
/Bootcode/U-Boot64*/tools/
/Bootcode/U-Boot64*/toolchain/
/Bootcode/U-Boot64*/scripts/
/Bootcode/U-Boot64*/bootloader.tar
*.o
*.su
*.cmd
*.bin
*.hex
*.map
*.ipk
*.rev
*.rej
*.orig
key-build*
fwmd5
